{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "forceAllTransforms": true,
        "shippedProposals": true,
        "targets":
        {
          "chrome": "58",
          "ie": "11",
          "firefox": "52",
          "edge": "12",
          "node": "6",
          "ios": "11",
          "android": "4.4.3",
          "safari": "11.1"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "retainLines": true,
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-throw-expressions",
    [
      "babel-plugin-root-import", 
      {
        "paths": [
          {
            "rootPathPrefix": "~",
            "rootPathSuffix": "src/core"
          }, 
          {
            "rootPathPrefix": "&",
            "rootPathSuffix": "src/modules"
          }
        ]
      }
    ]
  ]
}